doctype html
html
    head
        title Carrito de Compras
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        nav
            div.nav-wrapper.blue
                a(href="#", class="brand-logo center") Carrito de Compras
                ul.right
                    li
                        a(href="/logout", class="waves-effect waves-light btn red") Cerrar Sesión    
                        a(href="/carrito", class="waves-effect waves-light btn red") Carrito


        div.container
            h1.center-align Bienvenido al Sistema de Carrito de Compras

            form(action="/productos", method="GET", class="col s12")
                div.row
                    div.input-field.col.s6
                        select(name="categoria", id="categoria")
                            option(value="") Selecciona una categoría
                            each categoria in categorias
                                option(value=categoria)= categoria
                        label(for="categoria") Categoría:
                    
                    div.input-field.col.s6
                        input(type="number", name="minPrecio", id="minPrecio")
                        label(for="minPrecio") Precio Mínimo:
                    
                    div.input-field.col.s6
                        input(type="number", name="maxPrecio", id="maxPrecio")
                        label(for="maxPrecio") Precio Máximo:

                div.row
                    button(type="submit", class="btn waves-effect waves-light blue") Filtrar

            //- Lista de productos
            if productos && productos.length
                h2 Catálogo de Productos
                ul.collection
                    each producto in productos
                        li.collection-item
                            form(action="/carrito/agregar", method="POST", class="col s12")
                                div.row.center
                                    div.input-field.col.m4
                                        input(type="hidden",value=producto.id, name="productoId", id="productoId", required)
                                        span= producto.nombre + ' - $' + producto.precio
                                    div.input-field.col.m4
                                        input(type="number", placeholder="Cantidad", name="cantidad", id="cantidad")
                                    div.input-field.col.m4
                                        button(type="submit", class="btn waves-effect waves-light red") Agregar
                            
            else
                h2.center-align No hay productos disponibles en este momento.

        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script.
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('select');
                M.FormSelect.init(elems);
            });
