doctype html
html
  head
    title Administrar Productos
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
  body
    nav
      div.nav-wrapper.blue
        a(href="/admin", class="brand-logo center") Administrar Productos
    div.container
      h1.center-align Gestionar Productos

      //- Formulario para agregar nuevo producto
      form(action="/admin/productos", method="POST")
        div.input-field
          input(type="text", name="nombre", required placeholder="Nombre del producto")
        div.input-field
          input(type="text", name="categoria", required placeholder="Categoría")
        div.input-field
          input(type="number", name="precio", required placeholder="Precio")
        div.input-field
          input(type="number", name="stock", required placeholder="Stock")
        button(type="submit", class="btn blue") Agregar Producto

      ul.collection
        each producto in productos
          li.collection-item
            span= producto.nombre + ' - $' + producto.precio + ' (Stock: ' + producto.stock + ')'
            form(action=`/admin/productos/${producto.id}/eliminar`, method="POST", style="display:inline")
              button(type="submit", class="btn red") Eliminar
